{% extends 'back.html.twig' %}
{% set adminMenu = true %}

{% block title %}<h2>{{ title }}</h2>{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
        {{ form_start(commentForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(commentForm.author, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(commentForm.author) }}
                {{ form_widget(commentForm.author, { 'attr':  {
                    'class': 'form-control',
                    'rows': '1'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(commentForm.content, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'class': 'form-control',
                    'rows': '4'
                }}) }}
                {{ form_widget(commentForm.parentId, { 'attr':  {
                    'hidden': true,
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Valider" />
            </div>
        </div>
        {{ form_end(commentForm) }}
    </div>
{% endblock %}